@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bg-home-gradient {
  background: rgb(0,5,118);
  background: linear-gradient(30deg, rgba(0,5,118,1) 0%, rgba(73,157,255,1) 100%);
}